html, body
{
	color : #4b4b4b;
	background : #ffffff;
	font-size : 14px;
	font-family : Arial, cursive;
	width : 100%;
	height : 100%;
	margin : 0px;
	padding : 0px;
	overflow : hidden;
}

div.editor
{
	
}

div.header
{
	color : #000000;
	background : #ffffff;
	overflow : auto;
}

div.header img
{
	display : block;
}

div.header img.logo
{
	float : left;
	margin-top : 0px;
	margin-right : 8px;
}

div.headerleft
{
	color : #333333;
	font-size : 21px;
	padding : 14px 10px;
	float : left;
}

div.headerleft a
{
	color : #333333;
	text-decoration : none;
}

div.headerright
{
	padding : 12px 9px;
	float : right;
}

div.controls
{
	color : #222222;
	background : #f5f5f5;
	margin-bottom : 10px;
	padding : 4px 10px;
	overflow : auto;
}

div.controlbutton
{
	background : #ececec;
	border-radius : 15px;
	padding : 6px;
	margin : 0px 2px;
	cursor : pointer;
	float : left;
	user-select : none;
}

div.controlseparator
{
	width : 1px;
	height : 22px;
	margin : 4px 3px;
	background : #cccccc;
	float : left;
}

div.controlbutton img
{
	width : 18px;
	height : 18px;
	display : block;
}

div.left
{
	width : 230px;
	position : absolute;
	left : 0px;
	right : 0px;
}

div.leftcontent
{
	
}

div.nodetree
{
	width : 220px;
	overflow : auto;
}

div.right
{
	margin-left : 230px;
}

div.nodetreesearchdiv
{
	margin : 0px 10px 10px 10px;
}

input.nodetreesearch
{
	width : 100%;
	padding : 5px;
	border : 1px solid #dddddd;
	box-sizing : border-box;
	outline : none;
}

div.nodetreeitem
{
	padding : 5px 10px;
	cursor : pointer;
	user-select : none;
}

div.nodetreesubitems
{
	
}

div.nodetreesubitems div.nodetreeitem
{
	padding-left : 20px;
}

div.nodetreepopup
{
	background : #ffffff;
	width : 220px;
	max-height : 300px;
	border : 1px solid #dddddd;
	user-select : none;
}

div.nodetreepopupsearchdiv
{
	margin : 5px;
}

img.nodetreeicon
{
	width : 18px;
	height : 18px;
	margin-right : 8px;
	margin-bottom : -4px;
}

div.links
{
	position : absolute;
	top : 20px;
	right : 20px;
	text-align : center;
}

div.popup
{
	position : absolute;
	left : 0px;
	top : 0px;
	white-space : nowrap;
	overflow : auto;
}

div.contextmenu
{
	background : #ffffff;
	border : 1px solid #dddddd;
}

img.contextmenuicon
{
	width : 18px;
	height : 18px;
	margin-right : 3px;
	margin-bottom : -4px;
}

div.contextmenuitem
{
	padding : 6px 15px;
	cursor : pointer;
	user-select : none;
}

div.contextmenugroupitem
{
	padding : 6px 15px;
	user-select : none;
}

div.contextmenusubitems div.contextmenuitem
{
	padding-left : 30px;
}

div.parametersettings
{
	background : #ffffff;
	border : 1px solid #dddddd;
	border-radius : 5px;
	box-shadow : 0px 0px 10px #dddddd;
}

div.parametersettingstitle
{
	font-size : 1.2em;
	font-weight : bold;
	padding : 15px 10px;
}

div.parametersettingstitle img
{
	width : 18px;
	height : 18px;
	margin-right : 8px;
	margin-bottom : -3px;
}

table.parametertable
{
	margin-bottom : 10px;
}

table.parametertable td
{
	padding : 5px 10px;
}

table.parametertable input
{
	width : 200px;
	padding : 5px;
	border : 1px solid #dddddd;
	box-sizing : border-box;
	outline : none;
}

table.parametertable select
{
	width : 100%;
	padding : 5px;
	border : 1px solid #dddddd;
	box-sizing : border-box;
	outline : none;
}

div.parameterbuttons
{
	margin : 0px 10px;
	padding : 10px 0px;
	border-top : 1px solid #dddddd;
	overflow : auto;
}

div.parameterbutton
{
	background : #ececec;
	padding : 5px 10px;
	margin-left : 10px;
	border-radius : 5px;
	cursor : pointer;
	float : right;
}

div.thinscrollbar::-webkit-scrollbar
{
	width : 3px;
}

div.thinscrollbar::-webkit-scrollbar-thumb
{
	background: #aaaaaa;
}

div.tooltip
{
	color : #fafafa;
	background : #297fff;
	width : 100px;
	text-align : center;
	padding : 7px;
	border-radius : 6px;
	position : absolute;
}

div.tooltip div.tooltiptext
{
	font-size : 1.0em;
	font-weight : bold;
}

div.tooltip div.tooltipsubtext
{
	font-size : 0.8em;
	margin-top : 3px;
}

table
{
	border-collapse : collapse;
}

a
{
	color : #0366d6;
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}

canvas.editor
{
	border : 1px solid #dddddd;
	outline : none;
}

@media (hover)
{

div.controlbutton:hover
{
	color : #fafafa;
	background : #297fff;
	cursor : pointer;
}

div.nodetreeitem:hover
{
	background : #ececec;
}

div.contextmenuitem:hover
{
	background : #ececec;
}

div.parameterbutton:hover
{
	color : #fafafa;
	background : #297fff;
}

}

@media only screen and (max-width : 1000px)
{
	div.nomobile
	{
		display : none;
	}
}
