html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 14px;
	font-family : Arial, cursive;
	width : 100%;
	height : 100%;
	margin : 0px;
	padding : 0px;
}

div.editor
{
	
}

div.left
{
	width : 230px;
	height : 100%;
	position : absolute;
	left : 0px;
	right : 0px;
	overflow : auto;
}

div.leftcontent
{
	padding : 10px;
}

div.right
{
	margin-left : 240px;
}

div.menu
{

}

input.nodetreesearch
{
	width : 100%;
	margin-bottom : 10px;
	padding : 5px;
	border : 1px solid #dddddd;
	box-sizing : border-box;
	outline : none;
}

div.nodetreeitem
{
	padding : 5px 10px;
	cursor : pointer;
	user-select : none;
}

div.nodetreesubitems
{
	margin-left : 20px;
}

div.links
{
	position : absolute;
	top : 20px;
	right : 20px;
	text-align : center;
}

div.popup
{
	position : absolute;
	left : 0px;
	top : 0px;
	white-space : nowrap;
	overflow : auto;
}

div.contextmenu
{
	color : #000000;
	background : #ffffff;
	border : 1px solid #cccccc;
}

div.contextmenuitem
{
	padding : 6px 15px;
	cursor : pointer;
	user-select : none;
}

div.contextmenugroupitem
{
	padding : 6px 15px;
	user-select : none;
}

div.contextmenuitem:hover
{
	background : #90c8f6;
}

div.contextmenusubitems div.contextmenuitem
{
	padding-left : 30px;
}

div.parametersettings
{
	color : #000000;
	background : #ffffff;
	border : 1px solid #cccccc;
	box-shadow : 0px 0px 10px #cccccc;
}

div.parametersettingstitle
{
	font-size : 1.2em;
	padding : 10px;
}

table.parametertable
{
	margin-bottom : 5px;
}

table.parametertable td
{
	padding : 5px 10px;
}

table.parametertable input
{
	padding : 5px;
	border : 1px solid #dddddd;
	box-sizing : border-box;
	outline : none;
}

table.parametertable select
{
	width : 100%;
	padding : 5px;
	border : 1px solid #dddddd;
	box-sizing : border-box;
	outline : none;
}

div.parameterbuttons
{
	margin : 0px 10px;
	padding : 10px 0px;
	border-top : 1px solid #cccccc;
	overflow : auto;
}

div.parameterbutton
{
	background : #eeeeee;
	padding : 5px 10px;
	margin-left : 10px;
	border-radius : 5px;
	cursor : pointer;
	float : right;
}

div.nodetreepopup
{
	color : #000000;
	background : #ffffff;
	width : 220px;
	max-height : 300px;
	padding : 8px;
	border : 1px solid #cccccc;
}

img.icon
{
	width : 18px;
	height : 18px;
	margin-right : 3px;
	margin-bottom : -4px;
}

a
{
	color : #0366d6;
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}

#canvas
{
	margin-top : 10px;
	border : 1px solid #dddddd;
	outline : none;
}

@media only screen and (max-width : 1000px)
{
	div.nomobile
	{
		display : none;
	}
}
