html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 14px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
}

div.editor
{
	margin : 10px;
}

div.left
{
	width : 190px;
	margin-right : 10px;
	float : left;	
}

div.menu
{

}

div.menuitem
{
	padding : 5px 10px;
	cursor : pointer;
	user-select : none;
}

div.subitems
{
	margin-left : 20px;
}

div.contextmenu
{
	color : #000000;
	background : #f2f2f2;
	position : absolute;
	left : 0px;
	top : 0px;
	border : 1px solid #cccccc;
	overflow : auto;
}

div.contextmenuitem
{
	padding : 6px 15px;
	cursor : pointer;
	user-select : none;
}

div.contextmenugroupitem
{
	padding : 6px 15px;
}

div.contextmenuitem:hover
{
	background : #90c8f6;
}

div.contextmenusubitems div.contextmenuitem
{
	padding-left : 30px;
}

span.iconplaceholder
{
	width : 21px;
}

img.icon
{
	width : 18px;
	height : 18px;
	margin-right : 3px;
	margin-bottom : -4px;
}

a
{
	color : #0366d6;
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}

canvas
{
	border : 1px solid #dddddd;	
}
