html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 14px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
}

div.editor
{

}

div.frame
{
	width : 842px;
	margin : 20px auto;
}

div.menu
{
	width : 200px;
	float : left;
}

div.menuitem
{
	background : #f6f6f6;
	margin-bottom : 5px;
	margin-right : 5px;
	padding : 5px 10px;
	cursor : pointer;
	border : 1px solid #e6e6e6;
}

div.title
{
	font-size : 2.0em;
	margin-bottom : 20px;
}

div.text
{
	margin : 15px 0px;
}

canvas
{
	border : 1px solid #dddddd;	
}
