html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 14px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
}

div.editor
{

}

div.frame
{
	width : 842px;
	margin : 20px auto;
}

div.menu
{
	width : 200px;
	float : left;
}

div.menuitem
{
	background : #fafafa;
	margin-bottom : 5px;
	margin-right : 5px;
	padding : 5px 10px;
	cursor : pointer;
	border : 1px solid #e0e0e0;
}

div.title
{
	font-size : 2.0em;
	margin-bottom : 0.8em;
}

div.text
{
	margin : 1.5em 0;
	line-height : 1.6em;
}

a
{
	color : #0366d6;
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}

canvas
{
	border : 1px solid #dddddd;	
}
